<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ContactApp</title>
        <link rel="icon" href="contacts.png" type="image/x-icon">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <style type = "text/css">
            h2{

                color: BLACK;
                font-family: verdana;
                font-size: 300%;
                background-color: powderblue;
                text-align :center
              }
            body{
                margin: 0;
                padding: 0;
                background: #cccccc;
               }
        </style>
    </head>
    <body>
        <h2><img src="contacts-icon.png" alt=""/>Contact Application</h2>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="contact-application.html">HOME</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#testing.html">ADD CONTACT</a></li>
                    <li class="active"><a href="modify contact.html">MODIFY CONTACT</a></li>
                    <li class="active"><a href="delete contact.html">DELETE CONTACT</a></li>
                    <li class="active"><a href="display contacts.html">DISPLAY CONTACTS</a></li>
                    <li class="active"><a href="filter_by_field.html">FILTER BY FIELD</a></li>
                    <li class="active"><a href="search contact.html">SEARCH CONTACTS</a></li>
                    <li class="active"><a href="display contacts.html">DISPLAY CONTACTS</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="exit.html">EXIT</a></li>
                </ul>
            </div>
        </nav>
        <div id ="testing.html">
            <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Example of Auto Loading Bootstrap Modal on Page Load</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
</script>
</head>
<body>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Ã—</button>
                <h4 class="modal-title">Subscribe our Newsletter</h4>
            </div>
            <div class="modal-body">
				<p>Subscribe to our mailing list to get the latest updates straight in your inbox.</p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

        </div>

    </body>
</html>