<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>contact_by_number</title>
      <style type="text/css">
      a{
       margin-left:840px;}
    h3{text-align:center}
    form{
  text-align:center;
  position: right;
  border :1px solid black;
  width  : 250px;
  height : auto;
  margin-top:50px;
  margin-left:760px;
  padding :30px;
  background: gray
}
</style>
</head>
<body>
<h3>SEARCH CONTACTS HERE</h3><hr><br>
            <form method = "get" action="/contacts_by_number_method">
                ENTER NUMBER:<br><input type = "text" value ="" placeholder="number" name = "number" required><br><br>

                <input type="submit">
                <button type="reset" value="Reset">Reset</button><br>
            </form>
<br><br><a href = "/">Go back to home page</a>
</body>
</html>