<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <title>homepage</title>
    <style type="text/css">
      a:link {color:#ff0000;}
        a:visited {color:#0000ff;}
        a:hover {color:#ffcc00;}
        a { text-decoration: none; }
        form {
        text-align:center;
        position: right;
        border :1px solid black;
        width  : 300px;
        height : 330px;
        margin-top:50px;
        padding :30px;
        background: gray
        }

    </style>
</head>
<body><center>
<center><h3>WELCOME TO THE CONTACT APPLICATION</h3></center><hr><br><br>
    <form class = "home">
    <a href="add_contacts">ADD CONTACTS</a><br><hr>
    <a href="modify_contacts">MODIFY CONTACTS</a><br><hr>
    <a href="delete_contacts">DELETE CONTACTS</a><br><hr>
    <a href="display_contacts">DISPLAY CONTACTS</a><br><hr>
    <a href="filter_by_fields">FILTER BY FIELD</a><br><hr>
    <a href="contact_by_numbers">CONTACT BY NUMBER</a><br><hr>
    <a href="contacts_by_field">CONTACTS BY FIELDS</a><br><hr>
    <a href="providers_name">PROVIDER NAME</a><br><hr>
    <a href="display_contact_by_providers">DISPLAY CONTACTS BY PROVIDER</a><br><hr>
    </form>
    </center>
</body>
</html>